{# templates/post_ajax/index.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Posts</title>
   <!-- Aquí puedes incluir tus estilos CSS si es necesario -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="{{ asset('js/photos.js') }}"></script> <!-- Aquí enlazas tu archivo script.js -->
</head>
<body>

<h1>Photos-Mauricio</h1>

<table class="photos-table">
   <thead>
       <tr>
           <th>ID</th>
           <th>Title</th>
           <th>ThumbnailUrl</th>
       </tr>
   </thead>
   <tbody>
       <!-- Aquí se cargarán dinámicamente los datos de los posts -->
   </tbody>
</table>

</body>
</html>
